.tabs {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tabs li {
  font-size: 1rem;
  font-family: "BarlowCondensed-Regular";
  text-transform: uppercase;
  padding: 1rem;
  color: #d0d6f9;
  letter-spacing: 0.15rem;
  transition: all 0.15s ease-out;
}
.tabs li:hover {
  cursor: pointer;
  border-bottom: 2px solid #d0d6f9;
}
.tabs li:active {
  border-bottom: 2px solid #fff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.planet {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 170px;
  height: 170px;
  transition: all 0.5s ease;
}
.moon {
  background-image: url(../../assets/destination/image-moon.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.mars {
  background-image: url(../../assets/destination/image-mars.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.europa {
  background-image: url(../../assets/destination/image-europa.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.titan {
  background-image: url(../../assets/destination/image-titan.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.destination-panel {
  font-family: "Bellefair-Regularel";
  padding: 0 2rem;
}
.destination-panel h1 {
  font-family: "Bellefair-Regularel";
  font-size: 3.5rem;
  font-weight: 400;
}
.destination-panel p {
  font-family: "Barlow-Regular";
}
