.tabs {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tabs li {
  font-size: 1rem;
  font-family: "BarlowCondensed-Regular";
  text-transform: uppercase;
  padding: 1rem;
  color: #d0d6f9;
  letter-spacing: 0.15rem;
  transition: all 0.15s ease-out;
}
.tabs li:hover {
  cursor: pointer;
  border-bottom: 2px solid #d0d6f9;
}
.tabs li.selected {
  border-bottom: 2px solid #fff;
}
.tabs .disk {
  background: url(../../assets/tabs/Oval_3.png) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image-container {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 200px;
  height: 200px;
}
.image-container .planet-image {
  display: none;
  max-width: 100%;
  max-height: 100%;
  animation: slide-rotate 2s ease forwards;
}
.image-container .crew-image {
  display: none;
  max-width: 100%;
  max-height: 100%;
  animation: slide 2s ease forwards;
}
.image-container .show {
  display: block;
}
.container .detail {
  display: none;
  animation: slide 2s ease forwards;
}
.container .detail-show {
  display: block;
}
@keyframes slide-rotate {
  from {
    transform: translateX(-100px) rotateZ(0deg);
  }
  to {
    transform: translateX(0px) rotateZ(360deg);
  }
}
@keyframes slide {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}

/*
.planet {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 170px;
  height: 170px;
  transition: all 0.5s ease;
}
.moon {
  background-image: url(../../assets/destination/image-moon.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.mars {
  background-image: url(../../assets/destination/image-mars.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.europa {
  background-image: url(../../assets/destination/image-europa.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.titan {
  background-image: url(../../assets/destination/image-titan.png);
  background-size: cover;
  background-repeat: no-repeat;
}
*/
.destination-panel {
  font-family: "Bellefair-Regularel";
  padding: 2rem 2rem;
  margin-bottom: 4rem;
}

.destination-panel h1 {
  font-family: "Bellefair-Regularel";
  font-size: 3.5rem;
  font-weight: 400;
}
.destination-panel p {
  font-family: "Barlow-Regular";
  color: #d0d6f9;
  font-size: 15px;
  line-height: 167%;
  padding: 0 1rem;
}

.destination-panel hr {
  height: 1px;
  border: none;
  background-color: #383b4b;
  margin: 1.5rem 0;
}
.destination-panel .distance {
  font-size: 0.9rem;
  font-family: "BarlowCondensed-Regular";
  letter-spacing: 0.15rem;
  margin: 1rem 0;
}
.destination-panel span {
  font-family: "Bellefair-Regularel";
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 0;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem;
}
.destination-panel .travel-time {
  font-size: 0.9rem;
  font-family: "BarlowCondensed-Regular";
  letter-spacing: 0.15rem;
  margin-top: 1rem;
}
